* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5edd0;
  background-image: linear-gradient(45deg, #f5edd0 0%, #f7f7f7 100%);

}
ul{
  list-style: none;
}

#root{
  min-height: 100lvh;
  width: 100%;
}